<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/logo1.png' %}">
    <link rel="stylesheet" href="{% static 'app/404.css' %}">
    <title>Page Not Found</title>
</head>
<body>
    <h1>404</h1>
    <p>Oops! The page you are looking for doesn't exist.</p>
    <a href="{% url "home" %}">Go Back to Homepage</a>
</body>
</html>
