<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Profile</title>
    {% load static %}
       <link rel="stylesheet" href="{% static 'app/user.css' %}">
       <link rel="icon" type="image/png" href="/static/app_img/logo1.png">
    <style>
       
    </style>
</head>
<body>
    <div class="profile-card">
        <!-- Profile Image and Basic Details -->
        <div class="profile-left">
            <h2 class="profile-name">{{ user.username }} <span style="font-size: 16px; color: #555;">(#{{ profile.unique_number }})</span></h2>
            <p class="profile-title">{{ profile.profile_title|default:"User" }}</p>
        </div>

        <!-- Profile Details -->
        <div class="profile-right">
            <h3>Profile Details</h3>
            <p><strong>Name :</strong> {{ user.get_full_name|default:user.username }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <!-- Logout Button -->
           <a href="{% url 'logout' %}" class="button-logout">Logout</a>
        </div>
    </div>

    <p class="copy">© 2024 Mr.Chat</p>
</body>
</html>
